.App {
  text-align: center;
  background-color: #343a40;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-custom {
  background-color: rgb(4, 107, 4) !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Profile */
 .gradient-custom {

  background: #007710;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

/* settings.css */
.settings-container {
  padding: 20px;
}

.settings-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

.settings-card-header {
  background: #016e1c;
  color: white;
  text-align: center;
  padding: 20px;
}

.settings-avatar {
  border-radius: 50%;
  width: 80px;
  margin: 0 auto 10px;
}

.settings-card-body {
  padding: 20px;
}

.settings-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;  /* Asegúrate de que el z-index sea alto */
  visibility: hidden; /* Por defecto, oculto */
  opacity: 0;  /* Por defecto, invisible */
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.show-modal .modal-overlay {
  visibility: visible; /* Hacer visible */
  opacity: 1;  /* Hacer visible */
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* ShopDetails */
.card-header {
  background-color: #000000; /* Color de fondo para el encabezado de la tarjeta */
}

.card-body {
  background-color: #000000; /* Color de fondo para el cuerpo de la tarjeta */
}

.card-title {
  color: #ffffff; /* Color del título de la tarjeta */
  font-weight: bold; /* Texto en negrita para el título */
}

.card-text {
  color: #f4f6f8; /* Color del texto normal de la tarjeta */
}

.card-body {
  padding: 1.25rem; /* Ajustar el relleno del cuerpo de la tarjeta */
}

.text-start {
  text-align: left !important; /* Forzar alineación izquierda para el texto */
}

.mb-4 {
  margin-bottom: 1.5rem; /* Ajustar el espacio inferior entre elementos */
}

.card-product {
  border: 1px solid #dee2e6; /* Borde ligero alrededor de cada tarjeta de producto */
  border-radius: 0.25rem; /* Borde redondeado para suavizar la apariencia */
  transition: box-shadow 0.3s ease; /* Animación suave al pasar el ratón sobre las tarjetas */
}

.card-product:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave al pasar el ratón */
}

/* Register */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.container-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea contenido verticalmente si es necesario */
}
